body {
  font-family: arial, helvetica, sans-serif;
}
.field_with_errors {
  input {
  border: 1px solid red;
  }
}

.login_form {
  label {
    display : inline-block;
    width:100px;
  }
}

.flash_warning {
  color: red;
}
.flash_notice {
  color: green;
}

#flash-container {
  margin: 10px 0;

}
